body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: #fff;
    background: #f84616;
}

#close {
    position: absolute;
    right: 10%;
    font-size: 1rem;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}


/* ----------- Offer Navbar ------------  */

.offer-navbar {
    background: #eceae4 !important;
    width: 100%;
    transition: all .5s;
    height: 4vh;
}

.offer-navbar span {
    font-size: .8rem;
    font-weight: bold;
    width: 100%;
    text-align: center !important;
}

/* ----------- Main Navbar ------------  */
.dropdown:hover .dropdown-menu {
    display: block !important;
}

.dropdown-toggle::after {
    content: none;
}

.cart-btn:focus {
    border: none;
}

.dropdown-menu {
    height: 40vh;
    width: 40vw;
    position: absolute !important;
    left: -100% !important;
    display: none !important;
}

.dropdown-item {
    background: transparent !important;
}



.navbar-toggler:focus {
    box-shadow: none;
}


.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 5px;
}

.navbar-brand:hover {
    color: #f84616;
    transition: all .5s;

}

.main-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 35px;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: all .5s;
    /* background: linear-gradient(to bottom, rgba(80, 80, 80, 0.2), rgba(0, 0, 0, 0)); */
}

.nav-item {
    display: inline-block;
    position: relative;
}

.nav-item a:hover {
    color: #f84616;
}

.nav-item a::before {
    content: "";
    height: 2px;
    width: 0;
    background: #f84616;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .25s;
}

.nav-item a:hover::before {
    width: 100%;
}

.hover-list a:hover::before {
    width: 0%;
}




.nav-link div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #f84616;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.active {
    color: #f84616 !important;
}

.nav-item a:focus {
    color: #f84616 !important;

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i {
    margin-right: 15px;
    font-size: 1.2rem;
}

.para {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

#inner-para {
    font-size: .9rem;
}


/*-------------------Shop Footer--------------*/
.filter-btn:focus {
    border: none;
}

.filter-btn:hover {
    color: #f84616 !important;
}

/* 
.filter-btn {
    border: .1px solid #000 !important;
} */

.size-section {
    display: none;
}

.size-section a:hover {
    color: #f84616 !important;
}

.card:hover .size-section {
    display: block;
}

.size-btn {
    background: #eceae4;
}

.size-btn a:hover {
    color: #f84616;
}

.shop-card {
    position: relative;
    display: block;
    cursor: pointer;
}


.shop-card img {
    height: 600px;
    object-fit: cover;
}

.card-img-overlay {
    position: absolute;
    top: 65%;
    pointer-events: none;
}

.filter-offcanvas {
    width: 17% !important;
}

.accordion-item {
    width: 100%;
}

.shop-accordion-header button:focus {
    color: #000 !important;
    background: none !important;
}

.shop-accordion-header button:hover {
    color: #f84616 !important;
}

.accordion-button::after {
    display: none;
    float: inline-end;
}


/*-------------------Shop Footer--------------*/


#shopFooter {
    background: #212529;
    height: auto;
    width: 100%;
}

.s-footer-btn {
    background: transparent;
    border: .1px solid #fff !important;
    color: #fff;
    position: relative;
    z-index: 1;
}

.s-footer-btn::before {
    content: "";
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all .5s;
    z-index: -1;
}


.s-footer-btn:hover::before,
.s-footer-btn a:hover {
    cursor: pointer;
    width: 100%;
    color: #000 !important;
}





























/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {


    .navbar-toggler {
        position: absolute;
        left: 0;
    }

    .icons {
        position: fixed;
        top: 4vh;
        right: 0;
        z-index: 9;
    }

    .filter-offcanvas {
        width: 60% !important;
    }

    .card-img-overlay {
        top: 60%;
        pointer-events: none;
    }


    .shop-text-sm {
        font-size: 1rem !important;
        padding: 0 .3rem;
    }

    .navbar-nav {
        background-color: #fff;
        position: absolute;
        top: 6vh;
        width: 100%;
        left: 0;
        padding: 3rem 0 2rem 0;
        text-align: center;
    }


    .nav-link {
        padding: 0 1px;
    }

    .nav-link div {
        display: none;
    }

    .nav-item a::before {
        content: "";
        height: 2px;
        width: 0;
        background: #f84616;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        transition: all .25s;
    }

    .nav-item a:hover::before {
        width: 40%;
        text-align: center;
    }

    .offer-navbar span {
        font-size: .6rem !important;
    }
    .offer-navbar span i{
        font-size: .6rem !important;
    }

    .offer-navbar {
        height: 5vh !important;
    }

    .filter-btn {
        /* padding: 0 !important; */
    }

}

/* // `md` applies to small devices (landscape phones, less than 768px) */


@media (max-width: 768px) {
    .navbar-toggler {
        position: absolute;
        top: 10px;
        left: 5px;
    }
    .nav-item a::before {
        content: "";
        height: 2px;
        width: 0;
        background: #f84616;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        transition: all .25s;
    }

    .nav-item a:hover::before {
        width: 20%;
        text-align: center;
    }
    .navbar-nav {
        background-color: #fff;
        position: absolute;
        top: 4vh;
        width: 100%;
        left: 0;
        padding: 1rem 0 2rem 0;
        text-align: center;
    }

    .navbar-brand {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

    .nav-link div {
        display: none;
    }

    .shop-card {
        width: 100%;
    }

    .shop-card img {
        height: 500px;
        object-fit: cover;
    }

    .icons {
        position: absolute;
        right: 0;
        top: 0;
    }

}

@media (max-width: 992px) {
    .footer-links{
        text-align: start;
    }
    .main-navbar{
        padding: 1.2rem 0;
    }
    .navbar-toggler {
        position: absolute;
        top: 10px;
        left: 5px;
        z-index: 1;
    }
    .nav-item a::before {
        content: "";
        height: 2px;
        width: 0;
        background: #f84616;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        transition: all .25s;
    }

    .nav-item a:hover::before {
        width: 35%;
        text-align: center;
    }
    .navbar-nav {
        background-color: #fff;
        position: absolute;
        top: 4vh;
        z-index: 0;
        width: 100%;
        left: 0;
        padding: 2rem 0 2rem 0;
        text-align: center;
    }

    .navbar-brand {
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

    .nav-link div {
        display: none;
    }

    .shop-card {
        width: 100%;
    }

    .shop-card img {
        height: 500px;
        object-fit: cover;
    }

    .icons {
        position: absolute;
        right: 0;
        top: 0;
    }
    .card-img-overlay {
        top: 58%;
        pointer-events: none;
    }

    .s-footer-btn{
        width: 100% ;
    }
    .filter-offcanvas {
        width: 50% !important;
    }
    
}
